body
{
    background-color:rgb(205, 255, 201);
}
header
{
    background-color: rgb(1, 48, 148);
    font-family: fantasy;
    color: rgb(253, 250, 34);
    height: 60%;
    text-align: center;
    font-size: xx-large;
}
p
{
    font-size:large;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2
{
    color: rgb(15, 10, 10);
    text-align: center;
    font-size:xx-large;
    font-family:Georgia, 'Times New Roman', Times, serif
h3
{
    color: rgb(0, 0, 0);
    font-size:xx-large;
    font-family:cursive
}
footer
{
    background-color: rgb(1, 48, 148);
    font-family: fantasy;
    color: rgb(253, 250, 34);
    height: 40%;
    text-align: center;
    font-size: xx-large;
}
